doctype html
html 
  head 
    title Natour #{ tour.name } 
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')


  body 
    h1= tour
    h2= user.toUpperCase()

    - const x = 9;
    h2= 2 * x
    p Welcome to 
  // p Welcome to the Park Camper 
